body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(178, 246, 246);
  }
  
  .container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    border-color: #0a2ee4;
  }
  
  h2 {
    color: #ea1818;
    margin-top: 0px;
    margin-bottom: 30px;
  }
  
  input[type="text"] {
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border-color: #0a2ee4;
  }
  
  button {
    width: 17%;
    padding: 8px 20px;
    background-color: #147c84;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    border-color: #0a2ee4;
  }
  
  button:hover {
    background-color: #0a2ee4;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }
  
  li:hover {
    background-color: #e6e6e6;
  }
  
  .delete-button {
    float:right;
    /* background-color: #ff0000; */
    background-color: #147c84;
    color: #fff;
    border: none;
    padding: 6px 10px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
  }
  .delete-button:hover{
    background-color: #ff0000;
  }